.avatar {
    align-items: center;
    display: flex;
    font-family: $primeryFontBold, sans-serif;
    justify-content: center;
    height: 50vh;
    margin: 0;
}

.person {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 280px;
}

.container-descr {
    border-radius: 50%;
    height: 300px;
    -webkit-tap-highlight-color: transparent;
    transform: scale(0.48);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 400px;
}

.container-descr:after {
    content: "";
    height: 10px;
    position: absolute;
    top: 390px;
    width: 100%;
}

.container-descr:hover {
    transform: scale(0.58);
    -webkit-transform: scale(0.58);
    -moz-transform: scale(0.58);
    -ms-transform: scale(0.58);
    -o-transform: scale(0.58);
}

.container-inner {
    clip-path: path( "M 423,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 -25,400 V 10 H 200 390 Z");
    position: relative;
    transform-origin: 50%;
    top: -200px;
}

.circle {
    border-radius: 50%;
    cursor: pointer;
    height: 440px;
    left: -22px;
    pointer-events: none;
    position: absolute;
    top: 145px;
    width: 440px;
}

.img {
    pointer-events: none;
    position: relative;
    transform: translateY(20px) scale(1.15);
    transform-origin: 50% bottom;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-descr:hover .img {
    transform: translateY(0) scale(1.2);
    -webkit-transform: translateY(0) scale(1.2);
    -moz-transform: translateY(0) scale(1.2);
    -ms-transform: translateY(0) scale(1.2);
    -o-transform: translateY(0) scale(1.2);
}

.img1 {
    left: 22px;
    top: 164px;
    width: 340px;
}

.divider {
    background-color: #ca6060;
    height: 1px;
    width: 260px;
}

.name {
    color: $gray;
    font-size: 36px;
    font-weight: 600;
    margin: 16px 0 5px;
    text-align: center;
}

.title-web {
    color: #6e6e6e;
    font-size: 15px;
    font-family: $primeryFontItalic;
    margin-top: 4px;
}