.code {
    @include title-text;
}

pre {
    margin: 0;
}

@media(max-width: $sm) {
    pre {
        @include flex-column;
        justify-content: center;
        .coder {
            width: 70%;
        }
    }
}