.contacts {
    @include title-text;
    &-icon {
        @include flex-row;
        position: relative;
        .middle {
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            text-align: center;
        }
        .btn {
            display: inline-block;
            width: 90px;
            height: 90px;
            background: #f1f1f1;
            margin: 20px;
            padding: 0;
            border-radius: 30%;
            box-shadow: 0 5px 15px -5px $black;
            color: $queenBlue;
            overflow: hidden;
            position: relative;
        }
        .btn i {
            line-height: 90px;
            font-size: 26px;
            transition: 0.2s linear;
        }
        .btn:hover i {
            transform: scale(1.5);
            color: #f1f1f1;
            -webkit-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -ms-transform: scale(1.5);
            -o-transform: scale(1.5);
        }
        .btn::before {
            content: "";
            position: absolute;
            width: 120%;
            height: 120%;
            background: $queenBlue;
            transform: rotate(45deg);
            left: -110%;
            top: 90%;
        }
        .btn:hover::before {
            animation: abc 0.7s 1;
            top: -10%;
            left: -10%;
            -webkit-animation: abc 0.7s 1;
        }
        @keyframes abc {
            0% {
                left: -110%;
                top: 90%;
            }
            50% {
                left: 10%;
                top: -30%;
            }
            100% {
                top: -10%;
                left: -10%;
            }
        }
    }
}