footer {
    @include flex-row;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100vw;
    svg path {
        filter: url(#dropShadow);
        -webkit-filter: url(#dropShadow);
    }
    .footer {
        @include flex-row;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 0;
        width: 80%;
        line-height: 22px;
        font-size: 20px;
        color: $white;
        color: $queenBlue;
        font-family: $primeryFontRegular;
        padding: 10px 0;
        &__github a {
            color: $queenBlue;
            text-decoration: none;
        }
        &__logo {
            @include flex-row;
            width: 100px;
            height: 65px;
        }
    }
}