@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin text-style {
    &-info {
        width: 70%;
        line-height: 1.5;
        font-size: 25px;
        text-align: center;
        font-family: $primeryFontMedium;
        &__year {
            font-size: 20px;
            color: black;
            strong {
                font-size: 25px;
                color: $black;
            }
            font-weight: 600;
            small {
                font-family: $primeryFontItalic;
                font-size: 15px;
                color: $gray;
            }
        }
    }
}

@mixin skill-descr {
    position: absolute;
    height: 26rem;
    width: 30vw;
    transform: translate(-50%, -50%);
    background: $white;
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    @include flex-column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    font-size: 25px;
    .soft-text {
        font-family: $primeryFontExtraBold;
        color: $queenBlue;
    }
    span {
        color: $gray;
        font-family: $primeryFontRegular;
    }
}

@mixin skill-descr-column {
    position: absolute;
    height: 16rem;
    width: 81vw;
    transform: translate(-50%, -50%);
    background: $white;
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    @include flex-column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    font-size: 25px;
    font-family: $primeryFontMedium;
}

@mixin title-text {
    .animated {
        font-family: Futura, sans-serif;
        font-weight: 900;
        font-size: 80px;
        padding: 10px;
        margin: 100px;
        @keyframes ani {
            0% {
                transform: translate3d(0, 0, 0);
                text-shadow: 0em 0em 0 $gold;
                color: $gray;
            }
            30% {
                transform: translate3d(0, 0, 0);
                text-shadow: 0em 0em 0 $gold;
                color: $gray;
            }
            70% {
                transform: translate3d($d, -$d, 0);
                text-shadow: -$d $d $gold;
                color: $gray;
            }
            100% {
                transform: translate3d($d, -$d, 0);
                text-shadow: -$d $d $gold;
                color: $gray;
            }
        }
        span {
            position: relative;
            display: inline-block;
            animation: ani $t infinite alternate $e;
            @for $i from 1 through $n {
                &:nth-last-child(#{$i}n) {
                    animation-delay: -$t*$i/$n/2;
                }
            }
        }
    }
}