section(id="about").about 
    h2.animated
        span A
        span B
        span O
        span U
        span T
        span &nbsp;&nbsp;
        span M
        span E
    p.about-me Hi! My name is Valery. I am 26 years old and I am from Minsk, the capital of the Republic of Belarus. I started learning programming a couple of months ago with no experience in this, but there is a great desire to learn how to write good code. My
       | goal is to master front-end development and become a sought-after IT specialist. I approach my work and tasks responsibly and always listen to the opinions and criticisms of my colleagues. I am constantly developing in a professional direction
       | and do not stop there.