section.avatar  
    .person
        .container-descr
                .container-inner
                    <img class="circle" src="./img/bg.png" alt="bg">
                    <img class="img img1"src="./img/avatar.png" alt="avatar">
        .divider
        h1.name Valery Kirdey
        .title-web Future Front-end
            |  Developer
        .about-me