section(id="contacts").contacts
    h2.animated
        span C
        span O
        span N
        span T
        span A
        span C
        span T
        span S
    .contacts-icon
        .middle
            a.btn(href="https://discord.com/channels/@ka_valerik#8738" target="_blanck")
                i.fab.fa-discord
            a.btn(href="https://t.me/ka_valerik" target="_blanck")
                i.fab.fa-telegram
            a.btn(href="https://github.com/ValeryKirdey" target="_blanck")
                i.fab.fa-github
            a.btn(href="https://www.instagram.com/ka_valerik/" target="_blanck")
                i.fab.fa-instagram
            a.btn(href="mailto:valerykirdey95@gmail.com" target="_blanck")
                i.fas.fa-at
            a.btn(href="tel:+375297320218" target="_blanck")
                i.fas.fa-phone
            a.btn(href="https://www.codewars.com/users/ValeryKirdey" target="_blanck")
                i.fas.fa-atom
            a.btn(href="https://youtube.com" target="_blanck")
                i.fab.fa-youtube