section(id="education").education
    h2.animated
        span E
        span D
        span U
        span C
        span A
        span T
        span I
        span O
        span N
    .education-info 
        p.education-info__year September 2012 - July 2017<br>
            b Belarusian National Technical University - process engineer<br>
            small Minsk, Belarus
        p.education-info__year November 2021 - January 2022<br>
            b IT-Shatle HTMl/CSS course<br>
            small Minsk, Belarus
        p.education-info__year December 2021 - March 2022<br>
            b JavaScript/Front-end. Stage 0<br>
            small Minsk, Belarus