section(id="experience").experience
    h2.animated
        span E
        span X
        span P
        span E
        span R
        span I
        span E
        span N
        span C
        span E
    .experience-info
        p.experience-info__year October 2013 - July 2017<br>
            strong McDonald's Corporation - Industrial training instructor<br>
            small Minsk, Belarus
        p.experience-info__year August 2017 - January 2018<br>
            strong Supra - Chef<br>
            small Vladivostok, Russia
        p.experience-info__year February 2018 - May 2018<br>
            strong Siam Beach Resort - Receptionist<br>
            small Koh Chang, Thailand