section(id="hobbies").hobbies
    h2.animated
        span M
        span Y
        span &nbsp;&nbsp;
        span H
        span O
        span B
        span B
        span I
        span E
        span S
    p.hobbies-info I am fond of active sports, I do regular jogging. I like to travel, relax in nature, go hiking and in the mountains. I am fond of photography and art.