section(id="skills").skills
    h2.animated
        span S
        span K
        span I
        span L
        span L
        span S
    .skills-list 
        .skills-list__soft
            .soft                        
                p.soft-text Hard skills<br>
                    i.fab.fa-ethereum
                    span Bootstrap<br>
                    i.fab.fa-ethereum
                    span Gulp<br>
                    i.fab.fa-ethereum
                    span Git, GitHub<br>
                    i.fab.fa-ethereum
                    span VSCode<br>
                    i.fab.fa-ethereum
                    span Photoshop, Lightroom, Figma
        .skills-list__app 
            <div class="skills-box">
                <div class="skills-bar">
                <div class="bar">
                    <div class="info">
                    <span>HTML</span>
                    </div>
                    <div class="progress-line"><span class="html"></span></div>
                    <div class="bar">
                    <div class="info">
                        <span>CSS</span>
                    </div>
                    <div class="progress-line"><span class="css"></span></div>
                    <div class="bar">
                        <div class="info">
                        <span>JS</span>
                        </div>
                        <div class="progress-line"><span class="js"></span></div>
                        <div class="bar">
                        <div class="info">
                            <span>SCSS</span>
                        </div>
                        <div class="progress-line">
                            <span class="scss"></span>
                        </div>
                        <div class="bar">
                            <div class="info">
                            <span>PUG</span>
                            </div>
                            <div class="progress-line"><span class="pug"></span></div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        .skills-list__lang
            .lang
                p.soft-text languages<br>
                    i.fas.fa-check
                    span English - A1 (A2 in process…)<br>
                    i.fas.fa-check
                    span Belarusian - Native<br>
                    i.fas.fa-check
                    span Russian - Native